# ===============================
# React / Node
# ===============================
node_modules/
dist/
.env

# ===============================
# Spring Boot / Java
# ===============================
target/
*.log
*.class

# ===============================
# IDE files
# ===============================
.idea/
.vscode/
*.iml

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db
